@charset "utf-8";
/* CSS Document */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
/* ------------------------------------------------homepage---------------------------------------------------------------------------------- */
.home_main{ width:900px; margin:0 auto; font-family:Arial, Helvetica, sans-serif;}
.home_bg{ width:900px; background-image:url(/images/bg.png); background-repeat:repeat-x; float:left;}
.home_header{ width:900px; float:left;}
.home_header_logo{ float:left; padding-left:113px; padding-top:42px; padding-right:400px;}
.home_header_clicklogin{ float:left; padding-top:55px; font-size:10px; color:#737271; padding-right:5px; }
.home_header_refbutton{ float:left; width:140px; padding-top:4px; padding-left:109px;}

.home_header_signbutton{ float:left; padding-top:27px; width:130px;}
.home_middle{ width:900px; float:left;}
.home_middle_photo{ float:left; padding-left:114px; padding-top:18px;}
.home_middle_photo1{ float:left; padding:10px; border:solid 1px #3f78bd;}
.home_middle_subheading{ float:left;width:340px; padding-left:14px;padding-top:36px; text-align:justify;}
.home_middle_subheading h1{ float:left; font-size:20px;width:340px; margin:0; padding:0;color:#000000;padding-bottom:9px; font-family:Georgia, "Times New Roman", Times, serif;}
.home_middle_subheading h2{float:left; font-size:17px;font-weight:normal;width:340px;margin:0; padding:0;color:#000000; padding-bottom:9px;}
.home_middle_subheading p{ float:left;margin:0; padding:0;width:340px; text-align:right;}
.home_middle_recentsub_heading{ float:left; width:800px; padding-top:10px; padding-left:100px;}
.home_middle_recent_image{ float:left; padding-left:12px; width:770px;}
.home_middle_recent_subimage{ float:left;width:740px;}
.home_middle_recent_subimage_left{float:left; width:25px; height:68px;}
.home_middle_recent_subimage_middle {
border-bottom:1px solid #3F78BD;
border-top:1px solid #3F78BD;
float:left;
height:60px;
padding-top:6px;
width:660px;
}
.home_middle_recent_subimage_right{ float:left;width:25px; height:68px;}
#home_middle_recent_scrollimage{ padding-top:4px; padding-left:0px; }
.home_bottom{ float:left; width:900px; padding-bottom:61px; padding-top:89px;}
.home_bottom h1{ float:left; margin:0; padding:0; font-size:10px; color:#a7a7a7; padding-top:0px; padding-left:112px; padding-right:435px;}
.home_bottom h2{float:left; margin:0; padding:0; font-size:10px; color:#a7a7a7;padding-top:0px; }
#home_bottom_bar{ padding-left:2px; padding-right:2px;}
.home_subtext_twitter{ color:#004ca8;}
.home_signin_content{ float:left; padding-left:82px;}



/* ------------------------------------------------Detailpage1---------------------------------------------------------------------------------- */
.detailpage1_main{ width:900px; margin:0 auto; font-family:Arial, Helvetica, sans-serif;}
.detailpage1_bg{ width:900px;  float:left;}
.detailpage1_header{ width:900px; float:left;}
.detailpage1_header_tweetimage{ float:left; padding-left:113px; padding-top:40px; padding-right:316px;}
.detailpage1_header_home_middle{ float:left; background-image:url(/images/detail_header_middle.png); background-repeat:repeat-x; height:23px;margin-top:3px; color:#8e8f8b;padding-left:5px;padding-right:5px; }
.detailpage1_header_home_middle h1{ margin:0; padding:0; float:left;font-size:14px; padding-top:2px; padding-right:5px;}
.detailpage1_header_home_middle h1 a {color:#FFFFFF;text-decoration:none;}
.detailpage1_header_home_middle h2{ margin:0; padding:0; float:left;font-size:9px; padding-top:5px;}
.detailpage1_header_home_middle p{ margin:0; padding:0; float:left; padding-top:8px; padding-right:5px;}
.detailpage1_header_home_middle h3{ margin:0; padding:0; float:left; padding-top:3px; padding-left:5px;}
.detailpage1_header_home_left{ float:left; padding-top:3px;}
.detailpage1_header_home_right{ float:left;padding-top:3px;}
.detailpage1_middle{ float:left; width:787px; padding-top:10px; padding-left:113px; padding-bottom:10px;}
.detailpage1_middle_subleft{ float:left; width:419px; border:solid 1px #004ba8; background-color:#FFFFFF; height:535px; margin-right:5px; padding-left:6px;}
.detailpage1_middle_subleft h1{ float:left;font-size:12px; font-family:Georgia, "Times New Roman", Times, serif; color:#d34c41;margin:0; padding:0; padding-left:10px; padding-top:29px;}
.detailpage1_middle_subleft p{ float:left;margin:0; padding:0; padding-left:10px; padding-top:10px; padding-bottom:10px;}
.detailpage1_middle_subright{ float:left; width:260px;}
.detailpage1_middle_subright_topheader{ float:left; width:251px; height:32px; background-image:url(/images/detail_about.png); background-repeat:no-repeat;}
.detailpage1_middle_subright_topheader h1{ float:left; margin:0; padding:0; font-size:13px; color:#30302E; padding-left:14px; padding-top:10px; }
.detailpage1_middle_subright_topheader h2{ background-repeat:no-repeat;float:left; margin:0; padding:0; font-size:12px; padding-left:14px; font-weight:normal; width:100px;color:#30302e;padding-bottom:10px;padding-top:10px;}

.detailpage1_middle_subright_middle{float:left; width:249px; background-color:#FFFFFF;border-left:solid 1px #004ba8;border-right:solid 1px #004ba8;}
.detailpage1_middle_subright_middle h1{ float:left; margin:0; padding:0; font-size:12px; padding-left:14px; width:50px; color:#30302e; padding-bottom:10px; padding-top:10px;}
.detailpage1_middle_subright_middle h2{ float:left; margin:0; padding:0; font-size:12px; padding-left:14px; font-weight:normal; width:100px;color:#30302e;padding-bottom:10px;padding-top:10px;}
.detailpage1_middle_subright_middle h3{ float:left; margin:0; padding:0; font-size:12px; padding-left:14px;width:100px; color:#30302e;padding-bottom:10px;}
.detailpage1_middle_subright_middle h4{ float:left; margin:0; padding:0; font-size:12px; padding-left:0px; font-weight:normal; width:160px;color:#30302e;padding-bottom:10px;padding-top:10px;}
.detailpage1_middle_subright_middle_photoheading{ float:left; width:246px; height:29px; margin-left:2px; background-image:url(/images/detail_photo.png); background-repeat:repeat-x;}
.detailpage1_middle_subright_middle_photoheading h1{ width:100px; float:left; margin:0; padding:0; font-size:13px; padding-left:13px; padding-top:7px;}
.detailpage1_middle_subright_middle_photosubhead{ float:left; width:250px;}
.detailpage1_middle_subright_middle_photosubhead h1{ float:left; margin:0; padding:0; padding-top:5px; padding-left:10px;}
.detailpage1_middle_subright_bottom{ float:left;}



.detailpage1_bottom{ float:left; width:900px; padding-bottom:50px; padding-top:18px;}
.detailpage1_bottom h1{ float:left; margin:0; padding:0; font-size:9px; color:#828180; padding-top:0px; padding-left:112px; padding-right:435px;}
.detailpage1_bottom h2{float:left; margin:0; padding:0; font-size:9px; color:#828180;padding-top:0px; }
#detailpage1_bottom_bar{ padding-left:5px; padding-right:5px;}
.detailpage1_middle_content_less{ float:left; padding-left:10px;width:404px;padding-bottom:10px;}
.detailpage1_middle_content_less p{ float:left; margin:0; padding:2px; width:100px;text-align:center;}
.detailpage1_middle_content_less h1{ width:220px; float:left; margin:0; padding:0; font-size:12px; color:#c2c2c2;padding-top:10px;margin-left:35px;}
.detailpage1_middle_content_less h2{ width:10px; float:left; margin:0; padding:0; font-size:12px; color:#c2c2c2;margin-left:5px;}
.detailpage1_header_home_lefttop{ float:left;}


.detailpage1_middle_content_less_width h1{width:320px}
.detailpage1_middle_content_less h3{width:250px; float:left; margin:0; padding:0; font-size:11px; color:#c2c2c2;margin-left:35px;}









/* ------------------------------------------------Detailpage1---------------------------------------------------------------------------------- */

.post_main{ width:900px; margin:0 auto;font-family:Arial, Helvetica, sans-serif;}
.post_bg{ width:900px; float:left;}
.post_header{ width:900px; float:left; background-image:url(/images/post_bg_top.png); background-repeat:repeat-x;}
.post_header_logo{ float:left; padding-left:113px; padding-top:18px; padding-right:232px;}
.post_header_option{ float:left; width:150px; padding-top:5px;}
.post_header_option h1{ float:left; margin:0; padding:0; font-size:9px; color:#7EA2D4;}
.post_optionsidebar{ padding-left:9px; padding-top:1px; padding-right:9px;}
.post_logimage{ padding-top:2px; padding-left:5px;}
.post_header_option p{ float:left; margin:0; padding:0; padding-left:5px;}
.home_signin{ float:left; width:800px; background-image:url(/images/addnew_topstrip.png); background-repeat:repeat-x;}
.home_signin h1{ float:right; margin:0; padding:0; font-size:12px; color:#FFFFFF; font-weight:normal; padding-right:10px;padding-bottom:2px;padding-top:3px; }
.home_signin h1 a{color:#FFFFFF;text-decoration:none;}
.home_signin h2{ float:right; margin:0; padding:0; padding-right:10px; }

.home_signin_image{height:30px; width:30px;}

.post_middle{ float:left; width:780px; padding-left:115px; padding-top:20px; padding-bottom:60px;}
.add_media {height:330px;}
.post_middle_image{ float:left; border:solid 1px #004ba8;}
.post_middle_image p{ margin:0; padding:0; float:left; padding-bottom:10px; padding-left:10px; padding-top:10px; padding-right:10px;}

.post_middle_image_error{ float:left; border:solid 1px #004ba8;}
.post_middle_image_error p{ margin:0; padding:0; float:left; padding-bottom:10px; width:425px; padding-left:10px; padding-top:10px; padding-right:10px;}

.post_middle_image_a{ float:left; border:solid 1px #004ba8;}
.post_middle_image_a p{ width:415px;margin:0; padding:0; float:left; padding-left:10px; padding-top:10px;}
.post_middle_image_a p a{text-decoration:none;color:#7EA2D4}

.post_middle_leftcontent{ float:left; width:425px; padding-right:10px;}
.post_middle_rename{ float:left;width:425px; padding-top:10px; color:#3b3c37; }
.post_middle_rename h1{ float:left; margin:0; padding:0; font-size:12px; color:#3c3c3a; font-weight:normal; padding-right:171px;}
.post_middle_rename h2{  margin:0; padding:0; font-size:12px; color:#3c3c3a; float:left; }
.post_middle_comments{ float:left; width:425px; font-size:12px; font-weight:bold; padding-top:15px; padding-bottom:10px; color:#3b3c37;}
.post_middle_comments_subtextbox{ float:left; width:423px; border:solid 1px #004ba8;}
.post_middle_comments_subtextbox h1{ float:left; margin:0; padding:0; font-size:12px; font-weight:normal; color:#95968e; padding-top:10px; padding-left:10px; padding-bottom:10px;}
.post_middle_comments_subtextbox_postimage{ float:left; width:425px; padding-top:15px; text-align:right;}
.post_middle_rightcontent{ float:right; width:255px;margin-right:15px;}
.post_middle_rightcontent_top{ float:left;}
.post_middle_rightcontent_middle{ float:left; width:249px; border-left:solid 1px #3f78bd;border-right:solid 1px #3f78bd;}
.post_middle_rightcontent_topheading{ float:left; width:251px;}
.post_middle_rightcontent_topheading p{ float:left; margin:0; padding:0; padding-left:5px; padding-top:5px;}
.post_middle_rightcontent_topheading h1{ float:left; margin:0; padding:0; padding-left:10px; padding-top:5px; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; width:140px;}
.post_middle_rightcontent_topheading h2{ float:left; margin:0; padding:0; padding-left:10px; padding-top:5px; font-size:11px; font-weight:normal;width:144px; }
.post_middle_rightcontent_topheading_share{ float:left; width:246px; padding-top:10px; padding-left:5px;}
.post_middle_rightcontent_topheading_share h1{ float:left; margin:0; padding:0; font-size:12px; color:#3c3c3a; width:43px; padding-top:4px;}
.post_middle_rightcontent_topheading_share h2{ float:left; margin:0; padding:0; font-size:12px; color:#3c3c3a; width:200px; }
.post_textfield{ width:183px;}
.post_middle_rightcontent_bottom{ float:left; width:251px;}
.post_middle_rightcontent_scrollbar_top{ float:left; width:246px; padding-left:2px; padding-top:10px;}
.post_middle_rightcontent_scrollbar_topimage{ float:left;}
.post_middle_rightcontent_scrollbar_middleimage{ overflow:auto;float:left; width:217px; background-image:url(/images/postscroll_mid.png); background-repeat:repeat-x; height:217px;}
.post_more_textarea{ float:left; width:208px; height:163px;}
.post_middle_rightcontent_scrollbar_bg{ float:left; width:198px; background-color:#FFFFFF;padding-bottom:10px; margin-top:10px; padding-left:2px;} 

.post_middle_rightcontent_scrollbar_middleimage p{ float:right; margin:0; padding:0; padding-top:10px; width:72px;} 
.post_bottom_powered{ float:left; padding-top:1px;width:900px; height:25px; background-color:#004ba8;}
.post_bottom_powered h1{ margin:0; padding:0; float:left; font-size:10px; color:#fdfffe; padding-left:116px; padding-right:350px; padding-top:5px;}
.post_bottom_powered h2{ margin:0; padding:0; float:left; font-size:10px;color:#fdfffe; padding-top:5px;}

.post_bottom_powered h3{ margin:0; padding:0; float:left; font-size:10px;color:#fdfffe; padding-top:5px;padding-left:116px;}
.post_bottom_powered h4{ margin:0; padding:0; float:left; font-size:10px;color:#81a3d3; padding-top:5px;padding-left:3px;}


.post_bottom{ float:left; width:900px; padding-bottom:50px; }
.post_bottom h1{ float:left; margin:0; padding:0; font-size:9px; color:#7ea2d4;padding-left:112px; padding-right:385px; padding-top:10px;}
.post_bottom h2{float:left; margin:0; padding:0; font-size:9px; color:#7ea2d4;padding-top:10px; }
.post_bottom h2 a {color:#7ea2d4; text-decoration:none;}
#detailpage1_bottom_bar{ padding-left:5px; padding-right:5px;}
.post_postview_comments{ float:left; border-bottom:solid 1px #e4e5df; width:193px;}
.post_postview_comments h1{ float:left; margin:0; padding:0; width:55px; height:55px; padding-top:10px; padding-left:5px; padding-bottom:10px;}
.post_postview_comments h2{ float:left; margin:0; padding:0; font-size:11px; font-weight:normal; color:#343432; padding-top:12px; padding-left:2px;}
.post_postview_comments h3{ width:100px;float:left; margin:0; padding:0; font-size:11px; font-weight:normal; color:#343432; padding-top:4px; padding-left:3px;}
.postviecomment_content{ float:left; padding-left:13px; padding-top:4px;}



/* ------------------------------------------------Addmedia---------------------------------------------------------------------------------- */
.addmedia_content{ float:left; padding-right:10px;}
.addmedia_content_leftbar{ float:left; width:5px; height:180px;}
.addmedia_content_midbar{ float:left; width:500px; height:180px; background-image:url(/images/addmedia_mid.png); background-repeat:repeat-x;}
.addmedia_content_midbar h1{ float:left;width:245px;  font-size:13px; color:#122c00; margin:0; padding:0; padding-top:10px; padding-left:5px;}
.addmedia_file{ float:left; width:491px; padding-top:20px;}
.addmedia_file h1{ float:left; margin:0; padding:0; font-size:11px; color:#4b4b4b; width:30px; padding-left:10px; padding-top:5px; font-weight:normal;}
.addmedia_file h2{ float:left; margin:0; padding:0; padding-right:10px;}
.addmedia_file p{ float:left; margin:0; padding:0; }
.addmedia_textbox{ width:177px;}
.addmedia_note{ float:left; width:475px; padding-top:10px;}
.addmedia_note h1{ float:left; margin:0; padding:0; font-size:11px; color:#4b4b4b; width:30px; padding-left:10px; padding-top:5px; font-weight:normal;}
.addmedia_note h2{ float:left; margin:0; padding:0;}
.addmedia_note h3{ float:left; margin:0; padding:0; font-size:10px; padding-left:12px; padding-top:3px;}
.addmedia_notetextbox{ width:177px; height:30px;}
.addmedia_upload{ float:right; width:227px; padding-top:10px;}
.addmedia_mobile{ float:left; width:220px;}
.addmedia_mobile_left{ float:left;}
.addmedia_mobile_mid{ float:left; width:200px; height:180px; background-image:url(/images/mobile_mid.png); background-repeat:repeat-x;}
.addmedia_mobile_mid h1{ float:left; margin:0; padding:0; font-size:13px; color:#122C00; padding-top:10px; padding-left:10px;}
.addmedia_mobile_mid h2{ float:left; margin:0; padding:0; font-size:11px; color:#4B4B4B; padding-top:21px; padding-left:10px; font-weight:normal; width:190px;}
.addmedia_mobile_mid h3{ float:left; margin:0; padding:0; font-size:11px; color:#4B4B4B; padding-top:10px; padding-left:10px; font-weight:normal;width:190px;}
.addmedia_holecontent{ float:left; width:771px;}
.addmedia_awesome_holecontent{ float:left; width:771px; padding-top:10px;}
.addmedia_awesome_holecontent_left{ float:left; width:3px; height:440px;}
.addmedia_awesome_holecontent_mid{ float:left; width:726px; height:440px; background-image:url(/images/add_middle_mid.png); background-repeat:repeat-x;}
.addmedia_awesome_holecontent_mid_subcontent{ float:left; width:722px; border-bottom:solid 1px #cfdcec; padding-bottom:10px;}
.addmedia_awesome_holecontent_mid_subcontent p{ float:left; margin:0; padding:0; padding-top:10px; padding-left:10px;}
.addmedia_awesome_holecontent_mid_subcontent h1{ float:left; margin:0; padding:0; padding-top:24px; padding-left:10px; font-size:12px; color:#c22a1d; width:600px;}
.addmedia_awesome_holecontent_mid_subcontent h2{ float:left; margin:0; padding:0; padding-top:10px; padding-left:10px; font-size:12px; color:#333333; font-weight:normal;width:250px;font-style:italic;}
.addmedia_moreimage{ float:right; width:55px; padding-top:20px; padding-right:20px;}
.addmedia_header_topimage{ float:left; width:150px; padding-top:11px;}
.addmedia_header_topimage h1{ float:left; margin:0; padding:0; font-size:12px; color:#e5e6e0; padding-left:29px; padding-top:20px; font-family:Georgia, "Times New Roman", Times, serif;}

.addmedia_header_topimage p{ float:left; margin:0; padding:0; padding-left:5px;}

.post_middle_image_1{font-style:italic;font-weight:bold;border:none;margin:0; padding:0; float:left; padding-left:10px; padding-top:10px; font-size:13px; color:#3b3c37;}
.addmedia_awesome_holecontent_mid_subcontent h3 {float:left; margin:0; padding:0; padding-top:10px; padding-left:10px; font-size:12px; color:#333333;font-style:italic; font-weight:normal;width:100px;}
.addmedia_awesome_holecontent_mid_subcontent h3 a{text-decoration:none;color:#C22A1D;font-style:italic;}

.pagination {
  width:98%;
  padding-right:5px;
  text-align:right;
  float:left;
  font-size:11px;
  color:#000000;
}
.pagination a{
  text-decoration:none;
  color:#7EA2D4;
}
.pagination a:active{
  text-decoration:none;
  color:#000000;
  font-weight:bold;
}
.home_subtext_twitter a{color:#004ca8;text-decoration:none;}
.addemail_content{ float:left; padding-right:0px;}
.user_thumb{border-bottom:1px solid #004BA8;width:412px;}

.recent_scroll_div {
        float:left;
        margin-left:5px;
        height:50px;
        width:60px;
        overflow:hidden;
    }
.twitter_div {
    clear:both;
    text-align:right;    
}
.thumb_media {height:50px;width:50px;overflow:hidden;}
